@font-face {
    font-family: "UbuntuBold";
    src: url("../fonts/UbuntuBold.eot");
    src: url("../fonts/UbuntuBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/UbuntuBold.woff") format("woff"),
    url("../fonts/UbuntuBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "UbuntuBoldItalic";
    src: url("../fonts/UbuntuBoldItalic.eot");
    src: url("../fonts/UbuntuBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/UbuntuBoldItalic.woff") format("woff"),
    url("../fonts/UbuntuBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "VIBERSANS";
    src: url("../fonts/VIBERSANS.eot");
    src: url("../fonts/VIBERSANS.eot?#iefix") format("embedded-opentype"),
    url("../fonts/VIBERSANS.woff") format("woff"),
    url("../fonts/VIBERSANS.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SANSC";
    src: url("../fonts/SANSC.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: black;
}

html, body, .content {
    height: 100%;
}

.p1 {
    font-family: "VIBERSANS";
    margin-bottom: 0;
    color: #efefef;
    font-size: 15pt;
}

.p2 {
    color: #efefef;
    font-size: 60pt;
    line-height: 66px;
    font-family: "SANSC";
    margin: 0;
}

.p3 {
    font-family: "VIBERSANS";
    color: #efefef;
    font-size: 14pt;
    margin-top: 3px;
    margin-bottom: 0;
}

.p4 {
    font-family: "SANSC";
    color: #efefef;
    font-size: 16pt;
    margin-bottom: 0;
    display: inline;
}

.colortext {
    color: #90179d;
}

.btn {
    font-family: "SANSC";
    color: #efefef;
    font-size: 16pt;
    background: #5a6167;
    margin: 0;
    border: none;
}

.block1 {
     height: 130px;
}
