@font-face {
    font-family: "UbuntuBold";
    src: url("../fonts/UbuntuBold.eot");
    src: url("../fonts/UbuntuBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/UbuntuBold.woff") format("woff"),
    url("../fonts/UbuntuBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "UbuntuBoldItalic";
    src: url("../fonts/UbuntuBoldItalic.eot");
    src: url("../fonts/UbuntuBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/UbuntuBoldItalic.woff") format("woff"),
    url("../fonts/UbuntuBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "VIBERSANS";
    src: url("../fonts/VIBERSANS.eot");
    src: url("../fonts/VIBERSANS.eot?#iefix") format("embedded-opentype"),
    url("../fonts/VIBERSANS.woff") format("woff"),
    url("../fonts/VIBERSANS.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SANSC";
    src: url("../fonts/SANSC.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: black;
}

.content {
    margin-top: 22%;
}

.p1 {
    margin-bottom: -1px;
    color: #efefef;
    font-size: 11pt;
}

.upLogoText {
    float: top;
}

.logoText {
    /*height: 70px;*/
    margin-right: 10px;
    width: 427px;
}

.downLogoText {
    float: bottom;
}

.p2 {
    color: #efefef;
    font-size: 60pt;
    line-height: 56px;
    padding-bottom: 5px;
    padding-top: 1px;
    padding-left: -2px;
    font-family: UbuntuBold;
    margin: 0;
    border: 2px solid #efefef;
    width: 425px;
    text-indent: -2px;
}

.p3 {
    font-family: "VIBERSANS";
    color: #efefef;
    font-size: 14pt;
    margin-top: 8px;
    margin-bottom: 0;
}

.p4 {
    font-family: "SANSC";
    color: #efefef;
    font-size: 17pt;
    margin-bottom: 0;
    margin-top: 10px;
}

.colortext {
    color: #90179d;
}

.block1 {
    width: 432px;
    padding-right: 0;
    border-right: 2px solid #efefef;
}

.p5 {
    font-family: "SANSC";
    font-size: 15pt;
    color: #efefef;
    margin: 0;
}

.block2 {
    padding-left: 4px;
}

