/*Голова сайта*/
.header {
    background-color: orange;
}

.logo {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 100px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.menu p {
    display: inline;
    font-size: 18.5pt;
    font-family: 'Oswald', sans-serif;
    margin: 20px 15px;
    color: black;
}

.menu p:hover {
    border-bottom: 3px solid white;
}

.menu a {
    text-decoration: none;
    color: black;
}

.nameP {
    font-family: 'Oswald', sans-serif;
    font-size: 40pt;
    color: black;
}

.whitespan {
    color: #ffffff;
}

.orangeSpan {
    color: orange;
}

.sloganP {
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    margin-right: 15px;
    color: black;
}

/*Стадийность работ*/
.content {
    background-color: #ebebeb;
}

.slogan2P {
    font-family: 'Oswald', cursive;
    font-size: 28pt;
    margin: 20px;
}

.thingswecanP {
    font-size: 24px;
    margin-left: 20px;
}

.thingswecanP:last-child {
    margin-bottom: 35px;
}

/*Наши работы*/
.ourWorks {
    background-color: orange;
}

.ourProjectsP {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: black;
    margin: 30px 0;
}

/*Заголовки слайдеров*/
.slidertext {
    font-family: 'Oswald', sans-serif;
    font-size: 24pt;
    color: black;
    margin-bottom: 15px;
}

/*Слайдер 1*/
.slider {

}

.slider-slide {
    width: 1000px;
    height: 500px;
}

.sliderImage {
    width: 100%;
    height: 100%;
}

.sl1 {
    margin-bottom: 10px;
}

/*Подписи для слайдеров*/
.slider-text {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: black;
    text-align: left;
}

.sliderZag {
    font-family: 'Oswald', sans-serif;
    font-size: 18pt;
    color: #ebebeb;
    margin-left: 30px;

}

.sliderDesc {
    font-family: 'Oswald', sans-serif;
    font-size: 16pt;
    color: #ebebeb;
    margin-left: 30px;
}

/*Стрелки слайдеров*/
.slick-prev, .slick-next {
    width: 20px;
    height: 20px;
}

.slick-next:before, .slick-prev:before {
    font-size: 20px;
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);*/
    opacity: 1;
}

/*Слайдер 2*/
.slider2 {

}

.slider2-slide {
    width: 1000px;
    height: 500px;
    padding-left: 3px;
}

.slider2Image {
    width: 100%;
    height: 100%;
}

.sl2 {
    margin-bottom: 20px;

}

/*Слайдер 3*/
.slider3 {
    margin-bottom: 20px;
}

.slider3-slide {
    width: 300px;
    height: 400px;
}

.slider3Image {
    width: 100%;
    height: 100%;
}

.sl3 {
    margin-bottom: 10px;
}

.ourProjectsP2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
    color: black;
    margin: 30px;
}

/*О нас*/
.aboutUs {
    background-color: #ebebeb;
}

.aboutComp {
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    margin-top: 20px;
}

.aboutCompany {
    font-family: 'Oswald', sans-serif;
    font-size: 14.5pt;
    margin-bottom: 45px;
}

/*Футер сайта*/
.footer {
    background-color: orange;
}

.phoneNum p {
    font-family: 'Gugi', sans-serif;
    font-size: 22pt;
    color: black;
    margin-top: 10px;
}

.contactsMail p {
    font-family: 'Gugi', sans-serif;
    font-size: 22pt;
    color: black;
    margin-top: 5px;
}