html {
    font-family: 'Open Sans Condensed', sans-serif;
}

/*Голова сайта*/
.header {
    background-color: black;
}

.logo {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 220px;
    height: 80px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.menu p {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
    margin: 20px 15px;
    color: #ededed;
}

.menu p:last-child:hover {
    border-bottom: none;
}

.menu p:hover {
    border-bottom: 3px solid #fe5e00;
}

.menu a {
    text-decoration: none;
    color: #ededed;
}

.nameP {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin: 75px 0;
    color: #ededed;
}

.nameLogo {
    color: #fe5e00;
}

.sloganP {
    font-family: 'Courgette', cursive;
    margin-right: 15px;
    color: #ededed;
}

/*Стадийность работ*/
.content {
    background-color: #ededed;
}

.slogan2P {
    font-family: 'Courgette', cursive;
}

.thingswecan {
    font-family: 'Open Sans', sans-serif;
}

.thingswecanP:first-child {
    font-size: 28px;
    margin-left: 0;
}

.thingswecanP {
    font-size: 24px;
    margin-left: 10px;
}
/*Наши работы*/
.ourWorks {
    background-color: black;
}

.ourProjectsP {
    font-family: "Open Sans Condensed";
    font-size: 40px;
    color: #ededed;
    margin: 30px 0;
}

.ourProjectsP2 {
    font-family: 'Open Sans Condensed';
    font-size: 24px;
    color: #ededed;
    margin: 30px;
}

.aboutUs {
    background-color: #ededed;

}

.aboutComp {
    font-family: "Segoe UI Semibold";
    font-size: 18px;
}

.aboutCompany {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.slider2 {

}

.slider2-slide {
    width: 300px;
    height: 400px;
    padding-left: 10px;
}

.slider2Image {
    width: 100%;
    height: 100%;
}

.slider2text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    color: #ededed;
}