@media (min-width: 100px) and (max-width: 980px) {
    #bgSmall {
        background: url("../images/bgAdaptive.jpg") no-repeat 100% 30%;
        background-size: cover;
        /*min-height:  100%;*/
    }

    #bgSmall p {
        font-family: MullerBold, serif;
        justify-content: center;
        color: #fafafa;
    }

    #bgSmall1 {
        border: none;
        text-align: justify;
    }

    #navbar-toggler {
        color: #fafafa;
    }

    #social {
        color: #fafafa;
    }

    .name {
        margin-top: 8.8rem !important;
    }

    .navbar-nav a {
        color: #fafafa !important;
    }
}

@font-face {
    font-family: "MullerBold";
    src: url("../fonts/MullerBold.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MullerLight";
    src: url("../fonts/MullerLight.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.header {
    background-color: #f9f9f9;
}

.bg {
    height: 48rem;
    background-size: cover;
    background: #f9f9f9 url("../images/headerBg.jpg") no-repeat center left;
    min-width: 100%;
    padding-right: 0.2rem;

}

.name {
    margin-top: 18rem;
    font-size: 4rem;
    font-family: MullerBold, serif;
    margin-bottom: -0.5rem;
}

.desc {
    font-size: 2rem;
    font-family: MullerLight, serif;
}

.social {
    color: black;
}

.social i {
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.social i:hover {
    color: gray;
}

.social i:focus {
    color: gray;
}

.social i:active {
    color: gray;
}

.social:hover {
    color: gray;
}

.social:focus {
    color: gray;
}

.social:active {
    color: gray;
}

.navbar {
    justify-content: flex-end !important;
    padding: 0;
}

.navbar-nav a {
    margin-bottom: 1px;
    background: transparent;
    font-family: MullerBold, serif;
    font-size: 1.5rem;
    color: black;
    margin-right: 0.4rem;
}

.navbar-nav a:last-child {
    margin-right: 0;
}

.navbar-nav a:hover {
    border: none;
    color: gray;
    text-decoration: none;
}

.navbar-nav a:active {
    color: darkgray;
}

.navbar-toggler {
    background: transparent;
    border: none;
    color: black;
    padding: 0;
}

.navbar-toggler:hover {
    color: gray;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler:active {
    outline: none;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle:focus {
    border: none;
    box-shadow: none;
}

.dropdown-toggle:active {
    border: none;
    box-shadow: none;
}

a.dropdown-item {
    font-family: MullerBold, serif;
    font-size: 1.5rem;
}

.about {
    background: url(../images/aboutBg.png) no-repeat center center;
    background-size: cover;
    color: white;
    position: relative;
}

.about1 {
    position: absolute;
    right: -0rem;
}

.about1 img {
    height: 240px;

}

.musicBtn {
    display: inline-block;
    width: 10rem;
    height: 4rem;
}

.musicBtn img {
    width: 100%;
}

.musicBtn img:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.aboutMusicBtn {
    margin-right: 0.4rem;
}

.aboutMusicBtn img:hover{
    box-shadow: 0 0 15px rgba(169,169,169,0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.aboutText {
    padding: 4rem 2rem 2rem 3rem;
    margin: 2rem 2rem;
    border: 1px #fafafa solid;
}

.aboutTitle {
    padding-top: 1rem;
    font-family: MullerBold, serif;
    font-size: 1.2rem;
}

.aboutDesc {
    font-family: MullerLight, serif;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.photos {
    background: #fafafa no-repeat center center;
    background-size: cover;
    position: relative;
}

.photos1 {
    position: absolute;
    right: -0rem;
}

.photos1 img {
    height: 240px;
}

.photosTitle {
    margin-top: 3rem;
    padding-top: 1rem;
    font-family: "MullerBold", serif;
    font-size: 2rem;
    background: rgba(209, 209, 209, 0.5);
}

/*Слайдер 1*/
.slider {
    width: 95%;
    margin: 90px auto;
}

.slick-slide {
    margin: 0 30px;
}

.slick-prev:before,
.slick-next:before {
    color: white;
}

.slider1 .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slider1 .slick-active {
    opacity: .5;
}

.slider1 .slick-current {
    opacity: 1;
}

.sliderImage {
    width: 100%;
    height: auto;
}

.center .slick-center img {
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    opacity: 1;
    transform: scale(1.15);
}

.btn-outline-secondary {
    margin-top: -3rem;
    margin-bottom: 1rem;
    width: 5em;
    height: 5em;
    color: black;
    border: none;
    background-color: transparent;
}

.btn-outline-secondary:active {
    border: none !important;
    box-shadow: none;
    background-color: transparent;
}

.btn-outline-secondary:focus {
    border: none;
    box-shadow: none;
}

.btn-outline-secondary:hover {
    background: #333333;
}

.videos {
    background: url(../images/fon_video.png) no-repeat center center;
    background-size: cover;
    position: relative;
}

.videos1 {
    position: absolute;
    right: -0rem;
}

.videos1 img {
    height: 240px;

}

.videosTitle {
    color: white;
    margin-top: 4rem;
    padding-top: 1rem;
    font-family: "MullerBold", serif;
    font-size: 2rem;
    background: rgba(209, 209, 209, 0.2);;
}

/*Слайдер 2*/

.center .slick-center iframe {
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    opacity: 1;
    transform: scale(1.03);
}

.arrows2 {
    margin-bottom: 2rem;
}

.btnSlider2 {
    color: white;
}

.btnSlider2:hover {
    background: #0e0e0e;
}

.slider2Item {
    width: 40rem;
    height: 30rem;
}

.slider2Item iframe {
    min-width: 100%;
    height: 100%;
}

.music {
    background-color: #fafafa;
    position: relative;
}

.music1 {
    position: absolute;
    right: -0rem;
}

.music1 img {
    height: 240px;
}

.musicTitle {
    margin-top: 3rem;
    padding-top: 1.2rem;
    font-family: "MullerBold", serif;
    font-size: 2rem;
    background: rgba(209, 209, 209, 0.5);
}

.contacts {
    background-color: #f9f9f9;
}

.contactsTitle {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-family: MullerBold, serif;
}

.contactsDesc {
    font-size: 1.4rem;
    font-family: MullerLight, serif;
}

.adv {
    background: black;
}

.adv p {
    font-family: MullerLight, serif;
    font-size: 1.2rem;
    color: #f9f9f9;
    margin: 1rem;
}

.adv a {
    color: #fafafa;
    text-decoration: underline;
}

.adv a:hover {
    color: darkgray;
}

.upBtn {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 50px;
    background-color: darkgrey;
    color: black;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
}

.upBtn:hover {
    background: gray;
    color: #fafafa;
}

.fa-chevron-up {
    margin-left: 9px;
}




